<% content_for :page_title,  "Les Emprunts" %>

<div class="d-flex justify-content-between mb-5 mt-5">
  <h1></h1>
  <%= button_to "Ajouter Emprunt", new_emprunt_path, class:"btn btn-outline-primary bi bi-plus", :method => "get" %>
</div>

<h2>Document emprunts</h2>
<div id="emprunts">
  <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Document ISBN</th>
            <th scope="col">Titre</th>
            <th scope="col">Adherent</th>
            <th scope="col">Ajouté</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @emprunts_documents.each do |emprunt| %>
        <tr>
          <th scope="row">
            <%= emprunt.id %>
          </th>
          <th scope="row">
            <% if emprunt.documents.any? %>
              <% emprunt.documents.each do |document| %>
                <%= "#{document.isbn}" %>
              <% end %>
            <% else %>
              No documents
            <% end %>
          </th>
          <td>
            <% if emprunt.documents.any? %>
              <% emprunt.documents.each do |document| %>
                <%= "#{document.titre}" %>
            <% end %>
            <% else %>
              No documents
            <% end %>
          </td>
          <td>
            <% adherent = Adherent.find_by(id: emprunt.adherent_id) %>
          <% if adherent %>
            <%= adherent.nom + " " + adherent.prenom %>
          <% else %>
            Adherent not found
          <% end %>
          </td>
          <td>
            <%= emprunt.created_at.strftime("%Y-%m-%d %H:%M") %>
          </td>
          <td>
                 <%= button_to "", emprunt, class:"btn btn-outline-primary bi bi-eye", :method => "get" %>
              </td>
          </tr>
        <% end %>
        </tbody>
  </table>

  <h2 class="mb-5" >Ordinateur emprunts</h2>
      <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Ordinateur ID</th>
                <th scope="col">Nom Ordinateur</th>
                <th scope="col">Adherent</th>
                <th scope="col">Ajouté</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @emprunts_materiels.each do |emprunt| %>
              
        <tr>
          <th scope="row">

              <%= emprunt.id %>
          </th>
          <th scope="row">
            <% if emprunt.materiels.any? %>
              <% emprunt.materiels.each do |materiel| %>
                <%= "#{materiel.id}" %>
              <% end %>
            <% else %>
              No documents
            <% end %>
          </th>
          <td>
            <% if emprunt.materiels.any? %>
              <% emprunt.materiels.each do |materiel| %>
                <%= "#{materiel.nom}" %>
              <% end %>
            <% else %>
              No materiel
            <% end %>
          </td>
          <td>
            <% adherent = Adherent.find_by(id: emprunt.adherent_id) %>
          <% if adherent %>
            <%= adherent.nom + " " + adherent.prenom %>
          <% else %>
            Adherent not found
          <% end %>
          </td>
          <td>
            <%= emprunt.created_at.strftime("%Y-%m-%d %H:%M") %>
          </td>

              <td>
                 <%= button_to "", emprunt, class:"btn btn-outline-primary bi bi-eye", :method => "get" %>
              </td>
            
              </tr>
            <% end %>
            </tbody>
  </table>
</div>
<%= button_to "Export To CSV", "#", id: "exportBtn", class: "btn btn-primary", method: :get %>
<br/>
<script>
  document.getElementById("exportBtn").addEventListener("click", function() {
    // Create an array to store the CSV data
    let csvData = [];
    // Add the CSV header
    // Iterate over each emprunt to get its information
    <% @emprunts.each do |emprunt| %>
      <% if emprunt.materiels.any? %>
        <% emprunt.materiels.each do |materiel| %>
          <% adherent = Adherent.find(emprunt.adherent_id) %>
          csvData.push(["ID","Materiel_NAME", "ADHERENT_NOM", "ADHERENT_PRENOM", "Created"]);
          csvData.push(["<%= emprunt.id %>", "<%= materiel.nom %>", "<%= adherent.nom %>", "<%= adherent.prenom %>", "<%= emprunt.created_at.strftime("%Y-%m-%d %H:%M") %>"]);
        <% end %>
      <% end %>
    <% end %>
    <% @emprunts.each do |emprunt| %>
      <% if emprunt.documents.any? %>
        <% emprunt.documents.each do |document| %>
          <% adherent = Adherent.find(emprunt.adherent_id) %>
          csvData.push(["ID","DOCUMENT_NAME", "ADHERENT_NOM", "ADHERENT_PRENOM", "Created"]);
          csvData.push(["<%= emprunt.id %>", "<%= document.titre %>", "<%= adherent.nom %>", "<%= adherent.prenom %>", "<%= emprunt.created_at.strftime("%Y-%m-%d %H:%M") %>"]);
        <% end %>
      <% end %>
    <% end %>

    // Convert the array into CSV string
    let csvContent = "data:text/csv;charset=utf-8," + csvData.map(row => row.join(",")).join("\n");

    // Create an anchor element to download the CSV file
    let encodedUri = encodeURI(csvContent);
    let link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "emprunts.csv");
    document.body.appendChild(link);

    // Click the link to download the CSV file
    link.click();
  });
</script>
