<div class="section">
  <%= simple_form_for @document do |f| %>
    <div class="mr-3 w-100" >
      <%if @is_edit%>
      <% content_for :page_title, "Editer Un Document" %>
      <%else%>
      <% content_for :page_title, "Creer Nouveau Document" %>
      <%end%>
      </div>
    <div class="field">
      <div class="w-100" >
        <%= f.select(:doc_type, options_for_select([["Selectioner un materiel", nil], ["Livre", "Livre"], ["Article", "Article"], ["BD", "BD"]]),class:"custom-select form-select form-select-lg" ) %>
      </div><br>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input :titre, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input :isbn, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
    </div><br>
      <div class="w-100">
        <%= select_tag(:auteur_id, options_for_select( [["Selectioner un auteur", 0]] +  @auteurs.map{ |auteur| [auteur.nom_prenom, auteur.id]}), class:"custom-select form-select form-select-lg") %>
      </div><br>
    <%= f.button :submit, class: "button is-primary" %>
  <% end %>
</div>
<div class="card-body">
    <div class="mb-10 container-fluid">
      <%= link_to "Back to documents", documents_path, class:"btn btn-outline-info" %>
    </div>
</div>
