<% content_for :page_title,  "Les Materiels" %>

<div class="d-flex justify-content-between align-items-center mt-5 mb-5">
  <h1></h1>
  <%= button_to "Ajouter Materiel", new_materiel_path, class:"btn btn-outline-primary bi bi-plus", :method => "get" %>
</div>

<div id="materiels">
<table class="table" >
  <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Type</th>
          <th scope="col">Nom</th>
          <th scope="col">Created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @materiels.each do |materiel| %>
        <%= render materiel %>
      <% end %>
      </tbody>
    </table>
</div>
<%= button_to "Export To CSV", "#", id: "exportBtn", class: "btn btn-primary", method: :get %>
<br/>
<%= link_to "Import from CSV",   materiel_import_csv_path(format: :csv), class: "btn btn-success", style: "margin-bottom: 4px", data: { "mdb-ripple-init": true } %>

<script>
  document.getElementById("exportBtn").addEventListener("click", function() {
    // Create an array to store the CSV data
    let csvData = [];
    // Add the CSV header
    csvData.push(["ID", "TYPE", "NOM","Created"]);
    // Iterate over each materiel to get its information
    <% @materiels.each do |materiel| %>
      csvData.push(["<%= materiel.id %>", "<%= materiel.mat_type %>", "<%= materiel.nom%>", "<%= materiel.created_at %>"]);
    <% end %>
    // Convert the array into CSV string
    let csvContent = "data:text/csv;charset=utf-8," + csvData.map(row => row.join(",")).join("\n");
    // Create an anchor element to download the CSV file
    let encodedUri = encodeURI(csvContent);
    let link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "materiels.csv");
    document.body.appendChild(link);
    // Click the link to download the CSV file
    link.click();
  });
</script>
