<tr id="<%= dom_id auteur %>">
  <th scope="row">
    <%= auteur.id %>
  </th>
  <td>
    <%= auteur.nom_prenom %>
  </td>
  <td>
    <% if auteur.documents.any? %>
      <% auteur.documents.each do |document| %>
        <%= "#{document.titre}, " %>
      <% end %>
    <% else %>
      No documents
    <% end %>
  </td>
  <td>
    <%= auteur.created_at.strftime("%Y-%m-%d %H:%M") %>
  </td>
  <td>
    <%= button_to "", auteur, class:"btn btn-outline-primary bi bi-eye", :method => "get" %>
  </td>
</tr>

