<% content_for :page_title, @auteur.nom_prenom %>

<section class="section">
	<div class="container">
		<nav class="level">
		  <!-- Left side -->
		  <div class="level-left">
		    <p class="level-item">
		        <strong>Actions</strong>
		    </p>
		  </div>
		  <!-- Right side -->
		  <div class="level-right">
		  	<p class="level-item">
		    	<%= link_to "Edit", edit_auteur_path(@auteur), class:"button" %>
		  	</p>
        <p class="level-item">
          <%= button_to "Delete", @auteur, method: :delete,  class:"button is-danger" %>
        </p>
		  </div>
		</nav>
		<hr/>
    <div class="d-flex w-200 mb-2">
        <div class="w-25">ID:</div>
        <div><strong><%= @auteur.id %></strong> </div>
    </div>

    <div class="d-flex w-200 mb-2">
      <div class="w-25">Nom et Prenom:</div>
      <div><strong><%= @auteur.nom_prenom %></strong> </div>
    </div>
    <div class="d-flex w-200 mb-2">
      <div class="w-25">Docuemts :</div>
      <div><strong><% @documents.each do |document| %>
        <%= "#{document.titre}, " %>
      <% end %></strong></div>
    </div>
	</div>
  <div class="card">
  <div class="card-body">
    <div class="mb-10 container-fluid">
      <%= link_to "Back to auteurs", auteurs_path, class: "btn btn-outline-info mr-2" %>
    </div>
  </div>
</div>
</section>


